$mk-blue: #5fbddf;
$mk-lightblue: #c5e7f3;
$mk-black: #404040;
$mk-yellow: #ffe699;

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    z-index: 1;

    img {
        height: 40px;
        cursor: pointer;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        min-width: 40%;

        a {
            font-size: 21px;
            font-weight: 500;
            text-decoration: none;
            color: white;

            &:hover {
                color: $mk-lightblue;
            }
        }
    }
}

.darkHeader {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);

    nav a {
        color: $mk-black;

        &:hover {
            color: $mk-yellow;
        }
    }
}